@model List<TipoSospensione>
<select id="tipiSospensioni" name="TIPO_SOSPENSIONE" class="form-control">
    <option value="-1">-- Seleziona una tipologia --</option> 
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <option value="@item.ID_TIPO_SOSPENSIONE">@item.DESC_TIPO_SOSPENSIONE</option>
        }
    }
</select>
