
@using GruppoCap.Core

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="jumbotron info-jumbotron">
            <h1 style="line-height: 0.8; font-variant: small-caps;">Gestione Rimborsi</h1>
            <h1 style="line-height: 0.8; text-align: right;"><small style="margin-left: 32px;">v.@Ambient.CurrentApplicationVersion</small></h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 style="margin-top: 6px;">Contatti di riferimento <small>per segnalare errori più o meno gravi</small></h3>
                <p class="text-primary">
                    <span style="font-variant: small-caps; font-size: 18px; margin-right: 32px;">Ufficio Application</span>
                    <a href="mailto:assistenza.software@capholding.gruppocap.it"><span>assistenza.software@capholding.gruppocap.it</span></a>
                </p>
            </div>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default" id="feature-block">
                <div class="panel-heading" role="tab" id="headingFeature">
                    <h4 class="panel-title">
                        <button class="btn btn-function collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFeature" aria-expanded="true" aria-controls="collapseFeature">
                            <i class="fa fa-lg fa-hand-peace-o"></i>
                            <span class="text-after-icon" style="font-variant:small-caps;">Ultime novità che puoi trovare nell'applicativo Gestione Rimborsi</span>
                        </button>
                    </h4>
                </div>
                <div id="collapseFeature" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFeature">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <i class="fa fa-lg fa-calendar"></i>
                                <span class="text-after-icon"><strong>02.06.2016 - release 1.0.0</strong></span>
                            </div>
                        </div>
                        <div class="row breath-on-top-8">
                            <div class="col-sm-12">
                                <span style="font-variant:small-caps;">GESTIONE RIMBORSI</span>
                                <p>
                                    Il nuovo software disponibile nella intranet del <strong>Gruppo CAP</strong> è online!
                                </p>
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-sm-12">
                                <span style="font-variant:small-caps;">Data inizio / Data fine lavori</span>
                                <p>
                                    E' stata introdotta la funzionalità, disponibile per gli utenti abilitati, per l'inserimento e la modifica delle date
                                    di inizio e fine lavori delle gare già inserite in APR dagli utenti dell'ufficio Appalti &amp; Procurement.
                                </p>
                            </div>
                        </div>
                        <div class="row breath-on-top-32">
                            <div class="col-sm-12">
                                <i class="fa fa-lg fa-calendar"></i>
                                <span class="text-after-icon"><strong>21.09.2015 - release 2.0.4</strong></span>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


