@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_LayoutWithoutLogin.cshtml";
    ViewBag.Title = "Accesso negato";
}

<div class="jumbotron alert-warning text-center" style="border: 1px solid;">
    <h1>
        <i class="fa fa-wrench text-warning"></i>
    </h1>
    <br/>
    <p><strong>Applicazione in manutenzione!</strong></p>
    <p>Sono in corso lavori di manutenzione, <br/> ti chiediamo di avere ancora un po' di pazienza e torneremo presto online!</p>
</div>
