@using GruppoCap
@using GruppoCap.Core

<div class="row">

    <div class="col-sm-12">

        <div class="row grid-title">
            <div class="col-sm-12">
                <h1>
                    <a href="@CommonUrls.BaseUrl"><i class="fa fa-home"></i></a>
                    / Dashboard 
                </h1>
            </div>
        </div>

    </div>

</div>