<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="App_data/GestioneRimborsi.log" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="-1" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level APPLICATION: %property{applicationName} SCOPE: %property{scope} %message%newline" />
    </layout>
    <threshold value="debug"/>
  </appender>
  <appender name="RevoAdoNetAppender" type="GruppoCap.Logger.Log4Net.RevoAdoNetAppender, GruppoCap.Logger.Log4Net">
    <bufferSize value="1" />
    <connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <commandText value="INSERT INTO APILOG (LOGID, LOGDATE, LOGLEVEL, LOGAPPNAME, LOGSCOPE, LOGMESSAGE, LOGEXCEPTION) VALUES (SQ_APILOG.nextval, :log_date, :log_level, :log_applicationName, :log_scope, :log_message, :log_exception)" />
    <parameter>
      <parameterName value=":log_date"/>
      <dbType value="DateTime"/>
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </parameter>
    <parameter>
      <parameterName value=":log_level" />
      <dbType value="String" />
      <size value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_applicationName"/>
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{applicationName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_scope"/>
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{scope}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%exception" />
      </layout>
    </parameter>
  </appender>
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <!--<to value="Marco.Gazzola@Capholding.gruppocap.it" />-->
    <to value="alessandro.argentieri@blucrm.com" />
    <from value="assistenza.software@capholding.gruppocap.it" />
    <subject value="[GestioneRimborsi] Error" />
    <smtpHost value="posta2.gruppocap.it" />
    <port value="25" />
    <authentication value="Basic" />
    <username value="assistenza.software" />
    <password value="Password2014" />
    <enableSsl value="false" />
    <bufferSize value="2" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR" />
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level APPLICATION: %property{applicationName} SCOPE: %property{scope} %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="All"/>
    <appender-ref ref="RollingFile"/>
  </root>
</log4net>