<configuration>

  <components>

    <!-- REPOSITORIES -->
    <component
     id="activity.repo"
     service="GruppoCap.Core.IRepository`1[[GruppoCap.Activity.Core.Activity, GruppoCap.Activity.Core]], GruppoCap.Core"
     type="GruppoCap.Activity.Core.ActivityRepo, GruppoCap.Activity.Core"
     lifestyle="singleton" >
      <forwardedTypes>
        <add service="GruppoCap.Activity.Core.IActivityRepo, GruppoCap.Activity.Core" />
      </forwardedTypes>
    </component>

    <!-- SERVICES -->
    <component
      id="activity.service"
      service="GruppoCap.Activity.Core.IActivityService, GruppoCap.Activity.Core"
      type="GruppoCap.Activity.Core.ActivityService, GruppoCap.Activity.Core"
      lifestyle="singleton"
    />

  </components>

</configuration>