<configuration>

  <properties>
    <revo.application.id>GRI</revo.application.id>
  </properties>

  <components>

    <!-- REPOSITORIES -->

    <component
      id="lottoRimborsi.repo"
      service="GruppoCap.Core.IRepository`1[[GestioneRimborsi.Core.Rimborso, GestioneRimborsi.Core]], GruppoCap.Core"
      type="GestioneRimborsi.Core.LottoRimborsiRepo, GestioneRimborsi.Core"
      lifestyle="singleton" >
      <forwardedTypes>
        <add service="GestioneRimborsi.Core.ILottoRimborsiRepo, GestioneRimborsi.Core" />
      </forwardedTypes>
    </component>

    <component
      id="cliente.repo"
      service="GruppoCap.Core.IRepository`1[[GestioneRimborsi.Core.Cliente, GestioneRimborsi.Core]], GruppoCap.Core"
      type="GestioneRimborsi.Core.ClienteRepo, GestioneRimborsi.Core"
      lifestyle="singleton" >
      <forwardedTypes>
        <add service="GestioneRimborsi.Core.IClienteRepo, GestioneRimborsi.Core" />
      </forwardedTypes>
    </component>

    <component
      id="gestioneRimborso.repo"
      service="GruppoCap.Core.IRepository`1[[GestioneRimborsi.Core.GestioneRimborso, GestioneRimborsi.Core]], GruppoCap.Core"
      type="GestioneRimborsi.Core.RimborsoRepo, GestioneRimborsi.Core"
      lifestyle="singleton" >
      <forwardedTypes>
        <add service="GestioneRimborsi.Core.IRimborsoRepo, GestioneRimborsi.Core" />
      </forwardedTypes>
    </component>

    <component
      id="fuoristandard.repo"
      service="GruppoCap.Core.IRepository`1[[GestioneRimborsi.Core.FuoriStandard, GestioneRimborsi.Core]], GruppoCap.Core"
      type="GestioneRimborsi.Core.FuoriStandardRepo, GestioneRimborsi.Core"
      lifestyle="singleton" >
      <forwardedTypes>
        <add service="GestioneRimborsi.Core.IFuoriStandardRepo, GestioneRimborsi.Core" />
      </forwardedTypes>
    </component>

    <component
      id="rettifica.repo"
      service="GruppoCap.Core.IRepository`1[[GestioneRimborsi.Core.RettificaFuoriStandard, GestioneRimborsi.Core]], GruppoCap.Core"
      type="GestioneRimborsi.Core.RettificaFuoriStandardRepo, GestioneRimborsi.Core"
      lifestyle="singleton" >
      <forwardedTypes>
        <add service="GestioneRimborsi.Core.IRettificaFuoriStandardRepo, GestioneRimborsi.Core" />
      </forwardedTypes>
    </component>


    <component
      id="bonus.repo"
      service="GruppoCap.Core.IRepository`1[[GestioneRimborsi.Core.Lotto, GestioneRimborsi.Core]], GruppoCap.Core"
      type="GestioneRimborsi.Core.BonusIdricoRepo, GestioneRimborsi.Core"
      lifestyle="singleton" >
      <forwardedTypes>
        <add service="GestioneRimborsi.Core.IBonusIdricoRepo, GestioneRimborsi.Core" />
      </forwardedTypes>
    </component>

    <component
      id="sospensione.repo"
      service="GruppoCap.Core.IRepository`1[[GestioneRimborsi.Core.RettificaSospensione, GestioneRimborsi.Core]], GruppoCap.Core"
      type="GestioneRimborsi.Core.RettificaSospensioneRepo, GestioneRimborsi.Core"
      lifestyle="singleton" >
      <forwardedTypes>
        <add service="GestioneRimborsi.Core.IRettificaSospensioneRepo, GestioneRimborsi.Core" />
      </forwardedTypes>
    </component>

    <component
     id="anniBloccati.repo"
     service="GruppoCap.Core.IRepository`1[[GestioneRimborsi.Core.AnnoBloccato, GestioneRimborsi.Core]], GruppoCap.Core"
     type="GestioneRimborsi.Core.AnniBloccatiRepo, GestioneRimborsi.Core"
     lifestyle="singleton" >
      <forwardedTypes>
        <add service="GestioneRimborsi.Core.IAnniBloccatiRepo, GestioneRimborsi.Core" />
      </forwardedTypes>
    </component>

    <!-- SERVICES -->
    <component
     id="lottoRimborsi.service"
     service="GestioneRimborsi.Core.ILottoRimborsiService, GestioneRimborsi.Core"
     type="GestioneRimborsi.Core.LottoRimborsiService, GestioneRimborsi.Core"
     lifestyle="singleton"
    />

    <component
    id="cliente.service"
    service="GestioneRimborsi.Core.IClienteService, GestioneRimborsi.Core"
    type="GestioneRimborsi.Core.ClienteService, GestioneRimborsi.Core"
    lifestyle="singleton"
    />

    <component
    id="gestioneRimborso.service"
    service="GestioneRimborsi.Core.IRimborsoService, GestioneRimborsi.Core"
    type="GestioneRimborsi.Core.RimborsoService, GestioneRimborsi.Core"
    lifestyle="singleton"
    />

    <component
    id="fuoristandard.service"
    service="GestioneRimborsi.Core.IFuoriStandardService, GestioneRimborsi.Core"
    type="GestioneRimborsi.Core.FuoriStandardService, GestioneRimborsi.Core"
    lifestyle="singleton"
    />

    <component
      id="rettifica.service"
      service="GestioneRimborsi.Core.IRettificaFuoriStandardService, GestioneRimborsi.Core"
      type="GestioneRimborsi.Core.RettificaFuoriStandardService, GestioneRimborsi.Core"
      lifestyle="singleton"
    />

    <component
    id="anniBloccati.service"
    service="GestioneRimborsi.Core.IAnniBloccatiService, GestioneRimborsi.Core"
    type="GestioneRimborsi.Core.AnniBloccatiService, GestioneRimborsi.Core"
    lifestyle="singleton"
    />

    <component
  id="bonusidrico.service"
  service="GestioneRimborsi.Core.IBonusIdricoService, GestioneRimborsi.Core"
  type="GestioneRimborsi.Core.BonusIdricoService, GestioneRimborsi.Core"
  lifestyle="singleton"
    />

    <component
      id="sospensione.service"
      service="GestioneRimborsi.Core.IRettificaSospensioneService, GestioneRimborsi.Core"
      type="GestioneRimborsi.Core.RettificaSospensioneService, GestioneRimborsi.Core"
      lifestyle="singleton"
    />

  </components>

</configuration>