<configuration>

  <components>

    <!-- REPOSITORIES -->
    <component
     id="permission.repo"
     service="GruppoCap.Core.IRepository`1[[GruppoCap.Security.PEM.Permission, GruppoCap.Security.PEM]], GruppoCap.Core"
     type="GruppoCap.Security.PEM.PermissionRepo, GruppoCap.Security.PEM"
     lifestyle="singleton" >
      <forwardedTypes>
        <add service="GruppoCap.Security.PEM.IPermissionRepo, GruppoCap.Security.PEM" />
      </forwardedTypes>
    </component>

    <component
     id="permissiongroup.repo"
     service="GruppoCap.Core.IRepository`1[[GruppoCap.Security.PEM.PermissionGroup, GruppoCap.Security.PEM]], GruppoCap.Core"
     type="GruppoCap.Security.PEM.PermissionGroupRepo, GruppoCap.Security.PEM"
     lifestyle="singleton" >
      <forwardedTypes>
        <add service="GruppoCap.Security.PEM.IPermissionGroupRepo, GruppoCap.Security.PEM" />
      </forwardedTypes>
    </component>

    <!-- SERVICES -->
    <component
      id="pem.service"
      service="GruppoCap.Security.PEM.IPEMService, GruppoCap.Security.PEM"
      type="GruppoCap.Security.PEM.PEMService, GruppoCap.Security.PEM"
      lifestyle="singleton"
    />

  </components>

</configuration>