<configuration>

  <components>

    <!-- REPOSITORIES -->
    <component
     id="user.repo"
     service="GruppoCap.Core.IRepository`1[[GruppoCap.Authentication.Core.User, GruppoCap.Authentication.Core]], GruppoCap.Core"
     type="GruppoCap.Authentication.Core.UserRepo, GruppoCap.Authentication.Core"
     lifestyle="singleton" >
      <forwardedTypes>
        <add service="GruppoCap.Authentication.Core.IUserRepo, GruppoCap.Authentication.Core" />
      </forwardedTypes>
    </component>

    <component
     id="credential.repo"
     service="GruppoCap.Core.IRepository`1[[GruppoCap.Authentication.Core.Credential, GruppoCap.Authentication.Core]], GruppoCap.Core"
     type="GruppoCap.Authentication.Core.CredentialRepo, GruppoCap.Authentication.Core"
     lifestyle="singleton" >
      <forwardedTypes>
        <add service="GruppoCap.Authentication.Core.ICredentialRepo, GruppoCap.Authentication.Core" />
      </forwardedTypes>
    </component>

    <component
     id="application.repo"
     service="GruppoCap.Core.IRepository`1[[GruppoCap.Authentication.Core.Application, GruppoCap.Authentication.Core]], GruppoCap.Core"
     type="GruppoCap.Authentication.Core.ApplicationRepo, GruppoCap.Authentication.Core"
     lifestyle="singleton" >
      <forwardedTypes>
        <add service="GruppoCap.Authentication.Core.IApplicationRepo, GruppoCap.Authentication.Core" />
      </forwardedTypes>
    </component>

    <component
     id="grouping.repo"
     service="GruppoCap.Core.IRepository`1[[GruppoCap.Authentication.Core.CapGrouping, GruppoCap.Authentication.Core]], GruppoCap.Core"
     type="GruppoCap.Authentication.Core.CapGroupingRepo, GruppoCap.Authentication.Core"
     lifestyle="singleton" >
      <forwardedTypes>
        <add service="GruppoCap.Authentication.Core.ICapGroupingRepo, GruppoCap.Authentication.Core" />
      </forwardedTypes>
    </component>

    <!-- SERVICES -->
    <component
     id="credential.service"
     service="GruppoCap.Authentication.Core.ICredentialService, GruppoCap.Authentication.Core"
     type="GruppoCap.Authentication.Core.CredentialService, GruppoCap.Authentication.Core"
     lifestyle="singleton"
    />

    <component
      id="user.service"
      service="GruppoCap.Authentication.Core.IUserService, GruppoCap.Authentication.Core"
      type="GruppoCap.Authentication.Core.UserService, GruppoCap.Authentication.Core"
      lifestyle="singleton"
    />

    <component
      id="application.service"
      service="GruppoCap.Authentication.Core.IApplicationService, GruppoCap.Authentication.Core"
      type="GruppoCap.Authentication.Core.ApplicationService, GruppoCap.Authentication.Core"
      lifestyle="singleton"
    />

    <component
      id="grouping.service"
      service="GruppoCap.Authentication.Core.ICapGroupingService, GruppoCap.Authentication.Core"
      type="GruppoCap.Authentication.Core.CapGroupingService, GruppoCap.Authentication.Core"
      lifestyle="singleton"
    />

  </components>

</configuration>