<configuration>
  <components>

    <!-- REVO CONTEXT -->
    <component
			id="revocontext"
			service="GruppoCap.Core.IRevoContext, GruppoCap.Core"
			type="GruppoCap.Core.RevoContext, GruppoCap.Core"
      lifestyle="singleton"
		/>

    <!-- MEMENTO WEB REQUEST -->
    <component
			id="revowebrequest"
			service="GruppoCap.Core.IRevoWebRequest, GruppoCap.Core"
			type="GruppoCap.Core.RevoWebRequest, GruppoCap.Core"
      lifestyle="transient"
		/>


    <!-- SERVICE PROVIDER -->
    <component
			id="serviceprovider"
			service="GruppoCap.Core.IRevoServiceProvider, GruppoCap.Core"
			type="GruppoCap.Core.RevoServiceProvider, GruppoCap.Core"
      lifestyle="singleton"
		/>
    
    
    <!-- IDENTITY MANAGER -->
    <component
      id="identitymanager"
			service="GruppoCap.Core.Identity.IIdentityManager, GruppoCap.Core"
			type="GruppoCap.Authentication.IdentityManager, GruppoCap.Authentication.Core"
      lifestyle="singleton"
    >
      <parameters>
        <currentApplicationId>#{revo.application.id}</currentApplicationId>
      </parameters>
    </component>

    <!-- ACTIVITY MANAGER -->
    <component
      id="activitymanager"
			service="GruppoCap.Core.Activity.IActivityManager, GruppoCap.Core"
			type="GruppoCap.Activity.Core.ActivityManager, GruppoCap.Activity.Core"
      lifestyle="singleton"
    />

    <!-- PERMISSION MANAGER -->
    <component
      id="permissionmanager"
			service="GruppoCap.Core.Permission.IPermissionManager, GruppoCap.Core"
			type="GruppoCap.Security.PEM.PermissionManager, GruppoCap.Security.PEM"
      lifestyle="singleton"
    />

    <!-- LOGGER - SMTP -->
    <!--<component
			id="logger.smtp"
      service="GruppoCap.Logging.ILogger, GruppoCap.Core"
			type="GruppoCap.Core.Mvc.Logging.SmtpLogger, GruppoCap.Core.Mvc" >
      <parameters>
        <smtpHost>smtp1.gruppocap.it</smtpHost>
        <fromAddress>ApplicationServer@capholding.gruppocap.it</fromAddress>
        <toAddress>manutenzionesito@gruppocap.it</toAddress>

        <MinLogLevel>Error</MinLogLevel>

        <Subject>GESTIONE RIMBORSI - {message}</Subject>
      </parameters>
    </component>-->

    <component
      id="logger.smtp"
      service="GruppoCap.Logging.ILogger, GruppoCap.Core"
      type="GruppoCap.Logger.Log4Net.Logger, GruppoCap.Logger.Log4Net" >
      <parameters>
        <MinLogLevel>Trace</MinLogLevel>
      </parameters>
    </component>

    <!-- MAIL SENDER -->
    <component
			id="mailsender.default"
			service="GruppoCap.Mail.IMailSender, GruppoCap.Core"
			type="GruppoCap.Mail.SmtpMailSender, GruppoCap.Core" >
      <parameters>
        <host>smtp1.gruppocap.it</host>
      </parameters>
    </component>

    <!-- CACHE PROVIDER -->
    <component
      id="cacheprovider"
			service="GruppoCap.Core.Caching.ICache, GruppoCap.Core"
			type="GruppoCap.Core.Caching.InMemoryCache, GruppoCap.Core"
      lifestyle="singleton">
      <parameters>
        <cacheMinimumDurationInMinutes>1</cacheMinimumDurationInMinutes>
        <cacheMediumDurationInMinutes>2</cacheMediumDurationInMinutes>
        <cacheHighDurationInMinutes>3</cacheHighDurationInMinutes>
      </parameters>
    </component>
    
  </components>
</configuration>