<connectionStrings>
  <add name="dev.application.db" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = dbsvilh2o.gruppocap.it)(PORT = 1521))(CONNECT_DATA =(SID = svilh2o)));User ID=gri;Password=svilgri"  />
  <add name="test.application.db" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = dbtesth2o.gruppocap.it)(PORT = 1521))(CONNECT_DATA =(SID = testh2o)));User ID=gri;Password=testgri"  />
  <add name="prep.application.db" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = dbpreph2o.gruppocap.it)(PORT = 1521))(CONNECT_DATA =(SID = preph2o)));User ID=gri;Password=prepgri"  />
  <add name="prod.application.db" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = cluster10)(PORT = 1521))(CONNECT_DATA =(SID = prodh2o)));User ID=gri;Password=griprodrimborsi"  />
</connectionStrings>