<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="Oracle.ManagedDataAccess.Client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <!--<add name="sepaEntities" connectionString="metadata=res://*/DBEntity/SepaModel.csdl|res://*/DBEntity/SepaModel.ssdl|res://*/DBEntity/SepaModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=dbsvil)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=svilh2o)));user id=RIM;password=RIM;&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="sepaEntities" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = dbtesth2o.gruppocap.it)(PORT = 1521))(CONNECT_DATA =(SID = testh2o)));User ID=com20;Password=c0m20"  />

    <!--<add name="sepaEntities" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = dbsvilh2o.gruppocap.it)(PORT = 1521))(CONNECT_DATA =(SID = svilh2o)));User ID=gri;Password=svilgri"  />-->    
    <!--<add name="sepaEntities" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.17.2.41)(PORT = 1521))(CONNECT_DATA =(SID = testh2o)));User ID=com20;Password=c0m20"  />-->
    <!--<add name="sepaEntities" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = cluster10)(PORT = 1521))(CONNECT_DATA =(SID = prodh2o)));User ID=com20;Password=c0m20" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="sepaEntities" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = dbpreph2o.gruppocap.it)(PORT = 1521))(CONNECT_DATA =(SID = preph2o)));User ID=gri;Password=prepgri"  />-->
  </connectionStrings>
  <appSettings file="AppSettings.Config">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
    
        
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"   />
    </protocolMapping>

 
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0"  />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>