@model String

<div class="modal fade text-left" id="confermaModifiche" tabindex="-1" role="dialog" aria-labelledby="confermaModificheModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="timesSize" aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confermaModificheModalTitle">
                    <i class="fa fa-exclamation-triangle text-danger"></i>
                    <span class="text-after-icon">Conferma</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="space-container col-md-8 col-md-offset-2">
                            <h2 class="text-danger lead">Attenzione</h2>
                            <p class="lead">@Model<br /></p>
                        </div>
                        <div class="modal-footer col-md-12">
                            <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">
                                <i class=" fa fa-lg fa-arrow-circle-o-left">
                                </i><span class="text-after-icon">Annulla</span>
                            </button>
                            <button type="button" id="confMod" class="btn btn-lg btn-function" data-dismiss="modal">
                                <span>OK</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
